<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>This update to the Patch Updater application adds dark mode support.</string>
		<key>kextcacheRebuildRequired</key>
		<false/>
		<key>patchName</key>
		<string>patchUpdater</string>
		<key>patchURL</key>
		<string>https://github.com/onixsosx/iPCUpdater/raw/master/iPCUpdater.zip</string>
		<key>size</key>
		<string>3.2 MB</string>
		<key>supportedMachines</key>
		<array>
			<string>all</string>
		</array>
		<key>userVisibleName</key>
		<string>Patch Updater</string>
		<key>version</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>This patch, utilizing "SUVMMFaker.dylib" created by Czo, allows users of macOS 10.14 on unsupported machines to update their systems to new releases of macOS Mojave. Applying this update will only allow your machine to receive production updates. If you want Public Beta updates, you’ll need to enroll your machine at http://beta.apple.com.</string>
		<key>kextcacheRebuildRequired</key>
		<false/>
		<key>patchName</key>
		<string>swuFix</string>
		<key>patchURL</key>
		<string>https://github.com/onixsosx/iPCUpdater/raw/master/iPC.zip</string>
		<key>size</key>
		<string>23 KB</string>
		<key>supportedMachines</key>
		<array>
			<string>all</string>
		</array>
		<key>userVisibleName</key>
		<string>Software Update Patch</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
